#! /bin/bash
echo "excute..."
. setMonEnv32

JRE=`which java`

if [[ "$JRE" == "" ]] ; then
echo "###########################################"
echo JRE not existed!
echo "###########################################"
exit
fi

MAIN_AP=com.tradevan.monitor.view.MonitorManagement

echo $CLASSPATH
echo 

cmd="$JRE -DEINVTurnkeyMonitor -classpath $CLASSPATH -Xmx768m $MONITOR_REGION $MAIN_AP"
# echo $cmd
nohup $cmd > /dev/null 2> /dev/null &
