#! /bin/bash
echo "excute..."
. setenv32

JRE=`which java`

if [[ "$JRE" == "" ]] ; then
echo "###########################################"
echo JRE not existed!
echo "###########################################"
exit
fi      



echo $CLASSPATH
$JRE -classpath $CLASSPATH  $TNK_REGION com.tradevan.gateway.client.view.EnvironmentSetting
